services:
  app:
    build: .
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - APP_VERSION=${APP_VERSION}
      - PORT=${PORT}
      - CORS_ORIGIN=${CORS_ORIGIN}
      - ROBOTS_TAG_CONTENT=${ROBOTS_TAG_CONTENT}
      - GA_TAG_ID=${GA_TAG_ID}
      - CANONICAL_URL=${CANONICAL_URL}
      - WEBSOCKET_URL=${WEBSOCKET_URL}
      - LOG_LEVEL=${LOG_LEVEL}
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./data:/app/data
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT}/api/health"]
      interval: 3s
      timeout: 3s
      retries: 3
