body {
    background-color: #fafafa;
    color: #333333;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0;
}

canvas {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: block;
    width: 100%;
    max-width: 798px;
    height: auto;
}

button {
    background-color: #e6d8b5;
    color: #333333;
    border: 1px solid #cccccc;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d4c4a3;
}

#header {
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer {
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-title {
    margin: 0;
}

span.credits a {
    font-size: 12px;
    color: #d3d3d3;
    text-decoration: none;
}

span.credits a:hover {
    color: #b0b0b0;
    text-decoration: none;
}

.game-stats {
    display: flex;
    gap: 20px; /* Adds spacing between the stats */
    align-items: flex-start; /* Aligns labels consistently */
}

.stat {
    text-align: center; /* Centers text and numbers */
}

.stat-label {
    display: block; /* Forces the label above the number */
    font-size: 10px;
    color: #b0b0b0; /* Slightly lighter for labels */
    margin-bottom: 8px; /* Increased spacing between label and number */
}

#top-gen, #creature-count, #food-count {
    font-size: 14px;
    font-weight: normal;
}


/* @media (max-width: 900px) {
    #header {
        padding: 10px;
        flex-direction: column;
    }

    button {
        padding: 5px;
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }
} */